* {
    font-family: sans-serif;
}
/*************** individual tags styling*************/
.black {
    color: black;
}
.cyan {
    color: cyan;
}
.purple {
    color: purple;
}
.head {
    font-style: italic;
    font-size: x-large;
    font-weight: 815;
}
.para1,
.para2 {
    font-size: small;
    line-height: 180%;
}
.image {
    width: 70%;
    object-fit: contain;
}
.image {
    width: 100%;
}

.heads {
    font-weight: 775;
    color: grey;
    padding: 1%;
}
.heads:hover {
    color: purple;
    font-weight: 775;
    cursor: pointer;
}
.continue {
    border: 1px solid purple;
    border-radius: 8px;
    text-align: center;
}
.or {
    text-align: center;
    font-size: 85%;
    font-weight: 785;
}
a {
    font-weight: 770;
    text-decoration: none;
    color: black;
}
.info input {
    width: 100%;
}

/*************** containers styling *******************/
/*****styling written in ascending order of containers size*****/

.headContainer {
    width: 200%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.remember_forgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: 2%;
    padding: 2%;
    padding-left: 15%;
}
.signInBody {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200%;
    margin: 2%;
    max-width: 300px;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    max-width: 750px;
}
.part1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 1%;
    margin: 2%;
    background-color: rgb(250, 238, 250);
}
@media (max-width: 800px) {
    .part1 {
        flex-direction: column;
    }
}
