.head1,.head2,.head3{
    font-style: italic;
    font-size:xx-large;
    font-weight: 600;
}
.head2{
    color: rgb(201, 148, 281);
}
.head3{
    color: rgb(0, 215, 215);
}
.start{
    color: white;
    background-color: rgb(154, 94, 210);
    padding: 1% 2%;
    border-radius: 5px;
    width: fit-content;
    margin: 2% 0%;
}
.image img{
    width: 100%;
    padding:5%;
}
a{
    cursor: pointer;
}
.footerHeading{
    padding: 5%;
}
.heading{
    font-weight: 800;
    font-size: 90%;
    padding: 10% 0%;
}
.links a{
    font-size: 90%;
    font-weight: 50;
    display: block;
}
.icons img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.footer_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}
@media (max-width: 800px){
    .footer_bar{
        flex-direction: column;
    }
}